
@{
    ViewBag.Title = "Quản lý tài khoản";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <script src="~/Content/admin/assets/js/AccountController.js"></script>
}

<div class="content-header row">
    <div class="content-header-left col-md-9 col-12 mb-2">
        <div class="row breadcrumbs-top">
            <div class="col-12">
                <h2 class="content-header-title float-left mb-0">Account</h2>
                <div class="breadcrumb-wrapper">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="index.html">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Account
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-header-right text-md-right col-md-3 col-12 d-md-block d-none">
    </div>
</div>
<div class="content-body">
    <div class="account-setting">
        <section id="page-account-settings">
            <div class="row">
                <!-- left menu section -->
                <div class="col-md-3 mb-2 mb-md-0">
                    <ul class="nav nav-pills flex-column nav-left">
                        <!-- general -->
                        <li class="nav-item">
                            <a class="nav-link active" id="account-pill-general" data-toggle="pill" href="#account-vertical-general" aria-expanded="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user font-medium-3 mr-1"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                <span class="font-weight-bold">General</span>
                            </a>
                        </li>
                        <!-- change password -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-pill-password" data-toggle="pill" href="#account-vertical-password" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock font-medium-3 mr-1"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                <span class="font-weight-bold">Change Password</span>
                            </a>
                        </li>
                        <!-- information -->
                        <li class="nav-item">
                            <a class="nav-link" id="account-pill-info" data-toggle="pill" href="#account-vertical-info" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info font-medium-3 mr-1"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
                                <span class="font-weight-bold">Website Information</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <!--/ left menu section -->
                <!-- right content section -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <!-- general tab -->
                                <div role="tabpanel" class="tab-pane active" id="account-vertical-general" aria-labelledby="account-pill-general" aria-expanded="true">
                                    <!-- header media -->
                                    <div class="media">
                                        <a href="javascript:void(0);" class="mr-25">
                                            <img src="@ViewBag.User.avatar" id="account-upload-img" class="rounded mr-50" alt="profile image" height="80" width="80">
                                        </a>
                                        <!-- upload and reset button -->
                                        <div class="media-body mt-75 ml-1">
                                            <label for="account-upload" class="btn btn-sm btn-primary mb-75 mr-75 waves-effect waves-float waves-light btn-upload-avatar">Upload</label>
                                            <input type="text" id="account-upload-avatar" hidden="" value="@ViewBag.User.avatar">
                                            <button class="btn btn-sm btn-outline-secondary mb-75 waves-effect btn-reset-avatar">Reset</button>
                                            <p>Cho phép ảnh kích thước 480 x 480</p>
                                        </div>
                                        <!--/ upload and reset button -->
                                    </div>
                                    <!--/ header media -->
                                    <!-- form -->
                                    <form class="validate-form mt-2" novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="account-username">Username</label>
                                                    <input type="text" class="form-control" id="account_username" name="username" placeholder="Username" value="@ViewBag.User.username">
                                                    <div class="invalid-feedback" style="display: block;"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="account-name">Name</label>
                                                    <input type="text" class="form-control" id="account_name" name="name" placeholder="Name" value="@ViewBag.User.displayName">
                                                    <div class="invalid-feedback" style="display: block;"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="account-e-mail">E-mail</label>
                                                    <input type="email" class="form-control" id="account_email" name="email" placeholder="Email" value="@ViewBag.User.email">
                                                    <div class="invalid-feedback" style="display: block;"></div>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <button type="button" class="btn btn-primary mt-2 mr-1 waves-effect waves-float waves-light btn-save-account">Save changes</button>
                                                <button type="reset" class="btn btn-outline-secondary mt-2 waves-effect">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!--/ form -->
                                </div>
                                <!--/ general tab -->
                                <!-- change password -->
                                <div class="tab-pane fade" id="account-vertical-password" role="tabpanel" aria-labelledby="account-pill-password" aria-expanded="false">
                                    <!-- form -->
                                    <form class="validate-form" novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="account-old-password">Nhập mật khẩu cũ</label>
                                                    <div class="input-group form-password-toggle input-group-merge">
                                                        <input type="password" class="form-control" id="account-old-password" name="password" placeholder="Old Password">
                                                        <div class="input-group-append">
                                                            <div class="input-group-text cursor-pointer">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="invalid-feedback" style="display: block;"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="account-new-password">Nhập mật khẩu mới</label>
                                                    <div class="input-group form-password-toggle input-group-merge">
                                                        <input type="password" id="account-new-password" name="new-password" class="form-control" placeholder="New Password">
                                                        <div class="input-group-append">
                                                            <div class="input-group-text cursor-pointer">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="invalid-feedback" style="display: block;"></div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-sm-6">
                                                <div class="form-group">
                                                    <label for="account-retype-new-password">Nhập lại mật khẩu mới</label>
                                                    <div class="input-group form-password-toggle input-group-merge">
                                                        <input type="password" class="form-control" id="account-retype-new-password" name="confirm-new-password" placeholder="New Password">
                                                        <div class="input-group-append">
                                                            <div class="input-group-text cursor-pointer"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg></div>
                                                        </div>
                                                    </div>
                                                    <div class="invalid-feedback" style="display: block;"></div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button type="button" class="btn btn-primary mr-1 mt-1 waves-effect waves-float waves-light btn-change-password">Save changes</button>
                                                <button type="reset" class="btn btn-outline-secondary mt-1 waves-effect">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!--/ form -->
                                </div>
                                <!--/ change password -->
                                <!-- information -->
                                <div class="tab-pane fade" id="account-vertical-info" role="tabpanel" aria-labelledby="account-pill-info" aria-expanded="false">
                                    <!-- form -->
                                    <form class="validate-form" novalidate="novalidate">
                                        <div class="row">
                                            @foreach (var item in ViewBag.Configs)
                                            {
                                                if (item.title != "Logo" && item.title != "favicon")
                                                {
                                                    <div class="col-12 col-sm-6 config-item">
                                                        <div class="form-group">
                                                            <label for="website-@(item.title)">@item.title</label>
                                                            <input type="text" class="form-control config-title" id="website-@(item.title)" data-id="@item.id" placeholder="@item.title ..." value="@item.value" name="@item.title">
                                                            <div class="form-check form-check-primary">
                                                                <input type="checkbox" class="form-check-input config-status" id="@(item.title)-status" @(item.status ? "checked" : "")>
                                                                <label class="form-check-label" for="@(item.title)-status">Trạng thái</label>
                                                            </div>
                                                            <div class="invalid-feedback" style="display: block;"></div>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    if (item.title == "Logo")
                                                    {
                                                        <div class="col-12 col-sm-6">
                                                            <p>Logo Website</p>
                                                            <div class="media">
                                                                <a href="javascript:void(0);" class="mr-25">
                                                                    <img src="@item.value" id="website-upload-img" class="rounded mr-50" alt="profile image" width="100">
                                                                </a>
                                                                <div class="media-body mt-75 ml-1">
                                                                    <label for="account-upload" class="btn btn-sm btn-primary mb-75 mr-75 waves-effect waves-float waves-light btn-website-upload">Upload</label>
                                                                    <input type="text" id="website-upload" class="config-title-logo" data-id="@item.id" hidden="" value="@item.value" accept="image/*">
                                                                    <p>Kích thước chuẩn 123 x 28 pixels</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                    if (item.title == "favicon")
                                                    {
                                                        <div class="col-12 col-sm-6">
                                                            <p>Favicon</p>
                                                            <div class="media">
                                                                <a href="javascript:void(0);" class="mr-25">
                                                                    <img src="@item.value" id="upload-favicon-img" class="rounded mr-50" alt="profile favicon" width="32">
                                                                </a>
                                                                <div class="media-body mt-75 ml-1">
                                                                    <label for="account-upload-favicon" class="btn btn-sm btn-primary mb-75 mr-75 waves-effect waves-float waves-light btn-upload-favicon">Upload</label>
                                                                    <input type="text" id="website-upload-favicon" class="config-title-favicon" data-id="@item.id" hidden="" value="@item.value" accept="image/*">
                                                                    <p>Kích thước chuẩn 16 x 16 pixels và phải là dạng file .ico</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }

                                            <div class="col-12">
                                                <button type="button" class="btn btn-primary mt-1 mr-1 waves-effect waves-float waves-light btn-website-save">Save changes</button>
                                                <button type="reset" class="btn btn-outline-secondary mt-1 waves-effect">Cancel</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!--/ form -->
                                </div>
                                <!--/ information -->
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ right content section -->
            </div>
        </section>
    </div>
</div>
